################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Employees/DesignTimeBuild/.dtbcache.v2
